$main-blue: #006af5;
$main-blue-hover: #005fdb;

$button-gray: #e8ecef;
$button-gray-hover: #d9e0e7;
$button-white: #ffffff;
$button-white-hover: #f3f5f7;
$button-modal-gray: #f3f5f7;
$button-modal-gray-hover: #ff5a5a;
$button-disabled: #dddddd;

$text-blue: #005fdb;
$text-red: #ca150c;
$text-white: #ffffff;

$heading-text-light: #192434;

$background-white: #ffffff;
$background-white-input: #e9ecf0;
$background-modal-footer: #f3f5f7;
$background-searchbar-color: #dddddd;
$background-shadowbox: #000000;
$background-red: #ff3d3d;
$background-red-hover: #ff5a5a;
$background-body-color: #ededed;
$background-sort-banner: rgba(226, 238, 254, 0.8);
$nav-hover: #e8f1fe;

$main-font-size: 20px;
$second-font-size: 15px;
$main-font-family: Verdana, Geneva, Tahoma, sans-serif;

$main-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

$border-table-color: #dddddd;

$border-radius-outer-element: 10px;
$border-radius-inner-element: 5px;
