@import '@/styles/config.scss';

.at-expenditure-list-host {
  background-color: $background-white;
  width: 1000px;
  min-height: calc(100vh - 120px);

  :deep(.at-button-host) {
    margin: 0;
    height: 30px;
  }

  .table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row;
    padding: 10px;
    border-bottom: 1px solid $border-table-color;
    font-weight: bold;
    height: 30px;
  }

  .table-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row;
    padding: 10px;
    height: 30px;
    border-bottom: 1px solid $border-table-color;
  }

  .first-column {
    width: 25%;
  }

  .second-column {
    width: 45%;
  }

  .third-column {
    width: 15%;
  }

  .fourth-column {
    width: 15%;
  }

  .fifth-column {
    width: 5%;
  }
}
