@import '@/styles/config.scss';

.at-segment-item-host {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: $main-box-shadow;
  background-color: $background-white;
  border-radius: $border-radius-inner-element;
  padding: 10px;
  font-size: $second-font-size;
  width: 700px;
  margin: 5px;
  height: 30px;

  .first-section {
    width: 70%;
  }

  .second-section {
    width: 20%;
  }

  .third-section {
    width: 10%;

    :deep(.at-button-host) {
      margin: 0;
      height: 30px;
    }
  }
}
