@import '@/styles/config.scss';

.at-input-host {
  display: flex;
  flex-flow: column;
  margin-bottom: 10px;

  .title {
    color: #616d7c;
    font-size: $second-font-size;
  }

  .input-field {
    display: flex;
    flex-flow: row;
    background-color: $background-white-input;
    border-radius: $border-radius-inner-element;
    width: 400px;

    .native-input-element {
      border: none;
      cursor: pointer;
      height: 50px;
      border-radius: $border-radius-inner-element;
      font-size: $second-font-size;
      background-color: $background-white-input;
      padding: 8px 14px;
      box-sizing: border-box;

      &.readonly {
        cursor: unset;
        background-color: $background-white;
      }
    }

    .native-input-element:focus {
      outline: none;
    }

    .button {
      background-color: $background-white-input;
      align-items: center;
      height: 50px;
      justify-content: center;
      width: 50px;
      margin-bottom: 0;

      &.readonly {
        background-color: $background-white;
      }
    }
  }
}
